<!DOCTYPE html>
<html style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script><!--  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>-->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    var option;

    option = {
  title: {
    text: '比亚迪汽车销量',
    textStyle: {
    fontSize: 15
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: false,
    data:{{list_time|safe}}
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data :{{list_byd}},
      type: 'line',
      areaStyle: {}
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>